---
title: views folder
tagline: Database views
layout: default
published: true
---

 
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
		<h3>Sync Engine views Folder</h3>
		<p>This folder contains site-specific settings for database views</p>
		<p>The 2 main files in this folder are the scripts to create the Difference views used for change detection and Publication views that are used to filter out sensitive data and also include additional fields from available tables.</p>
		
